{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "require-await": "error",
    "curly": "error",
    "block-spacing": "error",
    "arrow-spacing": "error",
    "array-bracket-spacing": ["error", "always"],
    "object-curly-spacing": ["error", "always"]
  }
}